<form action="/admin/Home/UserYukle" method="post" style="padding: 10px;" enctype="multipart/form-data">

    
            <div class="u-form-group u-form-name">
              <label for="name-f84d" class="u-label">İsim</label>
              <input type="text" placeholder="İsminizi Giriniz" id="name-f84d" name="Name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>

            <div class="u-form-group u-form-name">
              <label for="name-f84d" class="u-label">Soyisim</label>
              <input type="text" placeholder="Soyisminizi Giriniz" id="name-f84d" name="Surname" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>

            <div class="u-form-group u-form-name">
              <label for="name-f84d" class="u-label">Email</label>
              <input type="email" placeholder="Geçerli Bir Mail Adresi Girin" id="name-f84d" name="Email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>

              <div class="u-form-group u-form-name">
              <label for="name-f84d" class="u-label">Telefon Numarası</label>
              <input type="text" placeholder="Telefon Numaranızı Yazınız" id="name-f84d" name="PhoneNumber" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-name">
              <label for="name-f84d" class="u-label">Şifre</label>
              <input type="password" placeholder="Şifre Giriniz" id="name-f84d" name="Password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <select id="select-709b" name="Roles" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                  <option value="admin">Admin</option>
                  <option value="Kullanıcı">Kullanıcı</option>
                </select>

             <div class="u-align-right u-form-group u-form-submit">
              <input class="u-border-none u-btn u-btn-submit u-button-style u-grey-80 u-hover-grey-75 u-btn-1" type="submit" value="Kaydet" />
            </div>

            </form>
              