<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Gönderi 6 Başlık, Gönderi 5 Başlık, Gönderi 4 Başlık, Gönderi 3 Başlık, Siteyi Ziyaret Eden Sayısı, 92, Gönderi 6 Başlık, Gönderi 5 Başlık, Gönderi 4 Başlık, Gönderi 3 Başlık">
    <meta name="description" content="">
    <title>FerayEmlak Yönetici</title>
      <!-- Favicons -->
  <link href="/assets/img/FerayEmlakSitebaslık.png" rel="icon">

    <link rel="stylesheet" href="/Adminassets/css/nicepage.css" media="screen">
<link rel="stylesheet" href="/Adminassets/css/Sayfa-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="/Adminassets/js/jquery.js"></script>
    <meta name="generator" content="Nicepage 4.17.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
   
    <meta name="theme-color" content="#1847b8">
    <meta property="og:title" content="Sayfa 1">
    <meta property="og:type" content="website">
  </head>
<body>
    <div>
        @RenderBody()
    </div>
  
</body>
</html>
