

<form action="/admin/UrunResim/Insert" method="post" enctype="multipart/form-data" >

 <input type="file" multiple="multiple" name="file" value="Dosya Seç" />
 <input type="number"  name="ProductId" value="Ürün Id" />

 <button type="submit"> Kaydet</button>
 </form>
