<span onclick="Favori(@ViewBag.ProductId,true)" style="cursor:pointer; margin-left:15px;">@Html.Raw(ViewBag.Olumlu != null ? ViewBag.Olumlu.Count : 0) <img src="~/Images/like.png" width="20px" /></span> / <span onclick="Favori(@ViewBag.ProductId,false)" style="cursor:pointer">@Html.Raw(ViewBag.Olumsuz != null ? ViewBag.Olumsuz.Count : 0) <img src="~/Images/dislike.png" width="20px" /></span>
