    
<link rel="stylesheet" href="/Adminassets/css/Sayfa-1.css" media="screen">
<link rel="stylesheet" href="/Adminassets/css/ÜyeOl.css" media="screen">

<script class="u-script" type="text/javascript" src="/Adminassets/js/nicepage.js" "="" defer=""></script>


 <section class="u-clearfix u-gradient u-section-1" id="sec-75b1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Üye Ol</h1>
        <div class="u-form u-form-1">
          <form action="/admin/Giris/UyeOl" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-cc05" class="u-label">Adı</label>
              <input type="text" placeholder="Adınızı girin" id="name-cc05" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-group-2">
              <label for="text-93ed" class="u-label">Soyadı</label>
              <input type="text" id="text-93ed" name="Soyadı" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" placeholder="Soyadı Giriniz">
            </div>
            <div class="u-form-group u-form-group-3">
              <label for="text-a4cd" class="u-label">Telefon Numarası</label>
              <input type="text" placeholder="Telefon Giriniz" id="text-a4cd" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-cc05" class="u-label">Email</label>
              <input type="email" placeholder="Geçerli bir e-posta adresi girin" id="email-cc05" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-group-5">
              <label for="text-029a" class="u-label">Şifre</label>
              <input type="text" placeholder="Şifre Giriniz" id="text-029a" name="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-grey-80 u-hover-grey-75 u-btn-1">Üye Ol<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Teşekkür ederiz! Mesajınız gönderildi. </div>
            <div class="u-form-send-error u-form-send-message"> Mesajınız gönderilemedi. Lütfen hataları düzeltin ve tekrar deneyin. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="24f1d82d1f89bd3b40a4dad8bfb7a714">
          </form>
        </div>
        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-grey-40 u-hover-grey-30 u-btn-2">Zaten Üyeyim</a>
      </div>
    </section>