


</style>

<div>
    <pre>


    </pre>

    <h1 style="text-align:center" >İlanınız Yüklendi <img style="width:100px;" src="/Images/Tik-Isareti-Nasil-Yapilir.png" /></h1>

    <div class="link" style="text-align:center; margin-top:200px;">
    <a href="/Home/Index"><button  style="margin-right:20px; height:30px; color:black; border-radius:12px 12px 12px 12px; " >Anasayfaya Geri Dön</button></a><a href="/admin/Home/Index"><button style=" height:30px; color:black; border-radius: 12px 12px 12px 12px;" >Admin Sayfasına Geri Dön</button></a>
    </div>
</div>